p.copy.
  @#{year} La Palapa
script(src='/dist/lapalapa.min.js', async)

script.
  window.onload = function() {
    main.init();

    if (document.getElementsByTagName('body')[0].classList.contains('contact')) {
      main.contact();
    }

    if (document.getElementsByClassName('diy-slideshow').length) {
      slideshow.init();
      utilities.detectswipe('diy-slideshow', function(el, d) {
        if (d === 'l') {
          document.querySelector('.prev').click();
        } else if (d === 'r') {
          document.querySelector('.next').click();
        }
      });
    }
  };
