p.copy.
  @#{year} La Palapa
script.
  var local_data = !{JSON.stringify(editable_obj)}
script(src='/dist/lapalapa.min.js')
script.
  utilities.loadStyleSheet('//fonts.googleapis.com/css?family=Indie+Flower');
  utilities.loadStyleSheet('/dist/main.min.css');
