h3(class='center', id='friends-header') Friends
div.friends-content.two-col-content-block
  ul(aria-labelledby='friends-header' class='wrap-row-container')
    li.flex-item
      span.linked-thumb
        a(href='http://www.mexicolindo.biz')
          img(src='/images/friends/lisa.jpg', alt='Mexico Lindo')
      span.title
        a(href='http://www.mexicolindo.biz') Mexico Lindo
      span.address
        | 2027 Murray Avenue, Pittsburgh, PA 15217
      span.phone
        | 412-422-9984
    li.flex-item
      span.linked-thumb
        a(href='http://www.laspalmaspgh.com/')
          img(src='/images/friends/palmas.png', alt='Las Palmas')
      span.title
        a(href='http://www.laspalmaspgh.com/') Las Palmas
      span.address
        | 1616 Broadway Ave, Pittsburgh, PA 15216
      span.phone
        | 412-388-5018
    li.flex-item
      span.linked-thumb
        a(href='http://www.clarionfarms.com')
          img(src='/images/friends/clarion.png', alt='Clarion Farms')
      span.title
        a(href='http://www.clarionfarms.') Clarion Farms
      span.address
        | 82 Port Lane Farm, Clarion, PA 16214
      span.phone
        | 814-764-5811
