header
  h1
    a(href='/', class='logo') La Palapa
  p.phone &mdash; 412-586-7015 &mdash;

  unless section == 'admin'
    div.hours-container
      a(id='hours', class='toggle-hours' href='#hours', aria-label='Show hours') hours
      a(class='toggle-hours', href='#', aria-label='Hide hours') hours
      div.content
        ul(id='header-hours-list')
          li
            h2 South Side
            dl
              dt Monday
              dd Closed
              dt Tuesday - Thursday
              dd 11am to 10pm
              dt Friday
              dd 11am-12pm
              dt Saturday
              dd 10am-12pm
              dt Sunday
              dd 10am to 10pm
