h3(id='location-hours') Hours
ul(id='location-hours-list')
  li
    h4 South Side
    dl
      dt Monday
      dd Closed
      dt Tuesday - Thursday
      dd 11am to 10pm
      dt Friday
      dd 11am-11pm
      dt Saturday
      dd 11am-11pm
      dt Sunday
      dd 11am to 10pm