h3(id='location-hours') Hours
ul(id='location-hours-list')
  li
    h4 South Side
    dl
      dt Monday
      dd Closed
      dt Tuesday — Thursday
      dd 11am to 9pm
      dt Friday & Saturday
      dd 11am to 11pm
      dt Sunday
      dd 11am to 9pm
