p.center.reservation
  img(src='/svg/phone_smile.svg' alt='phone' role='presentation')
  | Avoid the wait. Make a reservation.
  br
  a(data-type='tel' data-tel='412-586-7015' href='tel:4125867015', class='button inline') Call Us
