nav(role="main")
 ul(class="#{section}")
  li.index
    a(href="/", class="nav-link") home
  li.menu
    a(href="/menu", class="nav-link") menu
  li.catering
    a(href="/catering", class="nav-link") catering
  li.about
    a(href="/about", class="nav-link") about
  li.contact
    a(href="/contact", class="nav-link") contact
