h3(class='center', id='reviews-header') Glowing Reviews
div.friends-content.two-col-content-block
  ul(aria-labelledby='reviews-header' class='wrap-row-container')
    li.flex-item
      span.linked-thumb
        a(href='http://www.pittsburghpublicmarket.org')
          img(src='/images/reviews/citypaper.gif', alt='Pittsburgh City Paper')
    li.flex-item
      span.linked-thumb
        a(href='http://www.pittsburghmagazine.com/Pittsburgh-Magazine/July-2014/Review-La-Palapa/')
          img(src='/images/reviews/pgh_magazine.png', alt='Pittsburgh Magazine')
  ul(aria-labelledby='reviews-header' class='wrap-row-container')
    li.flex-item
      span.linked-thumb
        a(href='http://www.post-gazette.com/life/munch/2013/12/19/Munch-goes-to-La-Palapa/stories/201312190094/')
          img(src='/images/reviews/pgh_post_gazette.png', alt='Pittsburgh Post Gazette')
    li.flex-item
      span.linked-thumb
        a(href='http://eatpgh.com/south-sides-la-palapa-mexican-gourmet-kitchen-puts-effort-whats-plate/')
          img(src='/images/reviews/eatpgh.png', alt='eat pgh')
