div.diy-slideshow(id='diy-slideshow', aria-describedby='slideshow-help')
  p(id='slideshow-help') Click arrows or swipe to navigate
  .inner
    each image, index in images
      if index == 0
        figure.show
          img(src='/images/slideshow/#{image}' alt='')
      else
        figure
          img(src='/images/slideshow/#{image}' alt='')
    button.prev(tabindex='0') &laquo;
    button.next(tabindex='0') &raquo;
