@include keyframes(drop-bounce) {
  70% {
    @include transform(translateY(0) scaleX(1.1) scaleY(.8));
  }
  80% {
    @include transform(translateY(0.3em) scaleX(1.3) scaleY(.7));
  }
  90% {
    @include transform(translateY(0.1em) scaleX(1.1) scaleY(.9));
  }
  100% {
    @include transform(translateY(0) scaleX(1) scaleY(1));
  }
}

@include keyframes(intro-step-one) {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframes(intro-step-two) {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframes(intro-step-three-left) {
  to {
    left: -0.8em;
  }
}

@include keyframes(intro-step-three-right) {
  to {
    left: 0.8em;
  }
}

@include keyframes(intro-step-four) {
  to {
    opacity: 1;
  }
}

.steps {
  width: 90%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.step {
  font-size: 3rem;
  line-height: 2.3rem;
  color: white;

  &.one {
    opacity: 0;
    transform: translateY(-0.8em);
    margin-bottom: 0.8em;

    &.go {
      @include animation("intro-step-one 0.8s forwards 0.5s");
    }
  }

  &.two {
    opacity: 0;
    transform: translateY(0.8em);

    &.go {
      @include animation("intro-step-two 1s forwards");
    }
  }

  &.three {
    position: relative;
    left: 0;
    opacity: 1;

    &.middle.go {
      @include transition(0.8s);
      opacity: 0;
    }

    &.first.go {
      @include animation("intro-step-three-left 0.8s forwards");
    }
    &.last.go {
      @include animation("intro-step-three-right 0.8s forwards");
    }
  }

  &.four {
    position: absolute;
    opacity: 0;

    &.go {
       @include animation("intro-step-four 0.8s forwards");
    }
  }
}

.drop-bounce {
  @include animation("drop-bounce .8s forwards");
}
