header {
  .logo,
  .phone {
    text-align: center;
  }

  h1 {
    margin-bottom: 0;
  }

  .phone {
    font-style: italic;
    margin-bottom: 1em;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Indie Flower';
  }

  .logo {
    width: 200px;
    height: 84px;
    @include background-image-retina('/images/logo', png, 200px, 84px);
    display: block;
    text-indent: -9999px;
    white-space: nowrap;
    overflow: hidden;
    margin: 0.3em auto 0;
  }

  .hours-container {
    position: absolute;
    right: 0;
    top: 0;

    .toggle-hours {
      @include remove-tap-highlight;
      font-weight: normal;
      background: rgba($mole, 0.6);
      padding: 0.15em 0.75em;
      display: inline-block;
      font-size: 0.9rem;
      text-shadow: 0 2px 1px rgba(black, 0.6);
      cursor: pointer;
      color: white;
      border: none;
      width: 3.93em;
      height: 2.3em;
      line-height: 1.9em;

      &+ .toggle-hours {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        z-index: 10;
        text-align: center;
        padding: 0;
        z-index: 99;
        line-height: 2.2em;
      }

      @media #{$mobile-media} {
        font-size: 0.85rem;
      }
    }

    #hours {
      &:target {
        pointer-events: none;
        visibility: hidden;
        opacity: 0;

        &+ .toggle-hours {
          display: inline-block;
        }

        &~ .content {
          max-height: 30em;
          transform: scale3d(1, 1, 1);
        }
      }
    }

    p {
      margin: 0;
    }

    li {
      float: left;
      width: 50%;
    }

    .content {
      box-shadow: -1px 2px 10px rgba(0,0,0,0.3);
      transform: scale3d(0, 0, 1);
      transform-origin: 100% 0;
      transition: 0.2s ease-in-out;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      width: 550%;
      z-index: 1;
      background: rgba(white, 0.95);

      @media #{$mobile-media} {
        width: 320px;
      }

      ul {
        display: inline-block;
        padding: 1em 1em 0.5em;
        width: 100%;
      }

      h2 {
        text-transform: capitalize;
        font-size: 1.2rem;
        margin-left: 0;
        line-height: 1.4em;
        border-bottom: 1px dashed $mole;
      }

      dt {
        font-weight: bold;
      }

      dt, dd {
        font-size: 0.75rem;
      }
    }
  }
}
