@import "custom_styles_friends";
@import "custom_header_styles";
@import "custom_contact_styles";

h2 {
  transition: 0.3s;
  text-transform: lowercase;
  margin-bottom: 0.25em;
  margin-left: 0.3em;

  .index & {
    @media #{$mobile-media} {
      text-align: center;
      margin-left: 0;
      font-size: 2.7rem;
    }
  }
}

.img-container {
  @media #{$mobile-media} {
    width: 135%;
    margin-left: -25%;
  }
}

[contenteditable] {
  border: 1px dashed transparent;
  transition: 0.3s border;
  outline: none;

  &:empty {
    border: 1px dashed $mole;
  }
}

.intro {
  background-color: rgba($mole, 0.6);
  text-shadow: 0 2px 1px rgba(black, 0.6);
  color: white;
  padding: 1em;
  margin: 0 1em 1em;
}

.logo {
  border: none !important;
}
