.menus-nav-header {
  text-align: center;
  padding-bottom: 0.5em;
  font-weight: bold;
}

.menus-sub-header {
  text-align: center;
  padding-right: 0 !important;
}

.nav-button {
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	cursor: pointer;
	font-size: 16px;
	font-weight:bold;
	padding:4px 6px;
  text-decoration:none;
  max-width: 150px;
  text-align: center;
  color: white !important;
  border: none !important;
  margin: 0 .5em;
}
.nav-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}
.nav-button:active {
	position:relative;
	top:1px;
}

.menus-nav {
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 1em;
  justify-content: center;

  > a {
    flex: 1;
  }
}

.food-menu {
  @include rounded-bottom-shadow;
  @include transparent-white-bg;
  padding: 1em;
  margin-bottom: 1em;
  clear: left;
}

.food-menu-list-item {
  width: 50%;
  display: inline-block;
  padding: 1em;
  vertical-align: top;

  &.full-width {
    width: 100%;
  }

  &.legend {
    width: 100%;
    text-align: right;
    font-size: 0.9rem;

    @media #{$tablet-media} {
      font-size: 0.75rem;
    }

    .options .special {
      margin-left: 2em;

      @media #{$tablet-media} {
        &:first-of-type {
          margin: 0;
        }

        margin-left: 1em;
      }
    }

    @media #{$tablet-media} {
      margin-bottom: 2em;
      text-align: left;
    }
  }

  @media #{$tablet-media} {
    width: auto;
    display: block;
    padding: 0;
  }

  dt {
    font-weight: bold;
    position: relative;
    padding-right: 3em;
    margin-bottom: 0.25em;
  }

  dd {
    margin-bottom: 1em;
  }

  dl {
    margin-bottom: 2em;
  }

  h3 + p {
    font-style: italic;
  }

  .options > span {
    font-weight: bold;
    margin-left: 1em;

    &.special {
      background: $green;
      color: white;
      position: relative;
      top: -1px;
      border-radius: 50%;
      display: inline-block;
      width: 2.2em;
      font-size: 0.5rem;
      text-align: center;
      height: 1.1rem;
      vertical-align: middle;
      line-height: 1.1rem;
      box-shadow: 1px 2px 2px rgba(black, 0.4);
    }

    &.means {
      position: relative;
      top: 1px;
      margin-left: 0;
      font-weight: normal;
    }
  }
}

.horizontal-list {
  padding-left: 20px;
  display: flex;
  flex-wrap: wrap;

  li {
    list-style-type: circle;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.food-menu-price {
  position: absolute;
  right: 0;
  top: 1px;
  font-size: 0.9rem;
  font-weight: normal;
}

.more-info {
  margin: 0 1em 1em;

  > p {
    font-size: 0.9em;
    padding: 0 0 0.6em 1.7em;
    margin-bottom: 0;
    line-height: 1.5em;
  }

  [class*='icon-'] {
    background-size: 1em 1em;
    background-repeat: no-repeat;
    background-position: 0 13%;
  }
}

.icon-wine {
  background-image: url(/svg/wine.svg);
}

.icon-farm {
  background-image: url(/svg/farm.svg);
}

.back-to-top {
  display: flex;
  justify-content: center;

  > a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none !important;

    &.last {
      margin-bottom: 2em;
    }
  }

  .text {}
}
