.food-menu {
  @include rounded-bottom-shadow;
  @include transparent-white-bg;
  padding: 1em;
  margin-bottom: 1em;
}

.food-menu-list-item {
  width: 50%;
  display: inline-block;
  padding: 1em;
  vertical-align: top;

  @media #{$tablet-media} {
    width: auto;
    display: block;
    padding: 0;
  }

  dt {
    font-weight: bold;
    position: relative;
    padding-right: 3em;
    margin-bottom: 0.25em;
  }

  dd {
    margin-bottom: 1em;
  }

  dl {
    margin-bottom: 2em;
  }

  .options > span {
    font-weight: bold;
    margin-left: 1em;
  }
}

.food-menu-price {
  position: absolute;
  right: 0;
  top: 1px;
  font-size: 0.9rem;
  font-weight: normal;
}

