.active-nav {
  background-color: rgba($mole, 0.6);
  color: white;
  text-shadow: 0 2px 1px rgba(black, 0.6);
}

.default-nav {
  font-weight: normal;
  color: rgba($mole, 0.6);
  border: none;
  font-size: 1.05rem;
  display: block;
  cursor: pointer;
  text-decoration: none;
  padding: 0.25em 1.5em;
}

.inactive-nav {
  color: rgba($mole, 0.6) !important;
  text-shadow: none !important;
  background-color: transparent !important;
}

$nav-list: 'index', 'menu', 'catering', 'about', 'contact';
nav {
  @each $nav-section in $nav-list {
    .#{$nav-section} .#{$nav-section} .nav-link {
      @extend .active-nav;
    }
  }

  .nav-link {
    @extend .default-nav;

    &:active,
    &.active-nav {
      @extend .active-nav;
    }

    &.inactive-nav {
      @extend .inactive-nav;
    }
  }

  float: left;
  opacity: 1;
  width: 7em;
  height: 100%;

  @media #{$mobile-media} {
    flex: 0 100%;
    margin-bottom: 1em;
    text-align: center;
  }

  ul {
    position: fixed;
    top: 7.9em;
    box-shadow: 0 5px 4px -4px #333;
    border-radius: 0 0 0.5em 0;
    background: rgba(white, 0.3);

    overflow: hidden;

    @media #{$iphone6-landscape} {
      top: 0;
    }

    @media #{$mobile-media} {
      position: static;
      border-radius: 0;
    }
  }
}
