$nav-list: 'menu', 'catering', 'friends', 'about', 'contact';
nav {
  @each $nav-section in $nav-list {
    .#{$nav-section} .#{$nav-section} .nav-link {
      font-weight: bold;
      background-color: rgba($mole, 0.6);
    }
  }

  opacity: 1;
  padding: 1.5em 0;
  flex: 0 0 150px;
  top: 0;
  position: relative;
  background: rgba(white, 0.35);
  float: left;
  height: 100%;

  @media (max-width: 580px) {
    flex: 0 100%;
    margin-bottom: 1em;
    text-align: center;
    padding: 1em 0;
  }

  .show_intro & {
    flex: 0 0 0;
    opacity: 0;
    padding: 0;
  }

  .nav-link {
    text-shadow: 0 2px 1px rgba($mole, 0.6);
    font-size: 1.15rem;
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding: 0 1.5em;

    &.logo {
      position: absolute;
      top: 1em;
      left: 2em;
      width: 150px;
    }
  }
}
