$nav-list: 'menu', 'catering', 'friends', 'about', 'contact';
nav {
  @each $nav-section in $nav-list {
    .#{$nav-section} .#{$nav-section} .nav-link {
      background-color: rgba($mole, 0.6);
    }
  }

  opacity: 1;
  flex: 0 0 150px;
  top: 0;
  position: relative;
  float: left;
  height: 100%;

  @media #{$mobile-media} {
    flex: 0 100%;
    margin-bottom: 1em;
    text-align: center;
  }

  ul {
    background: rgba(white, 0.3);
    box-shadow: 0 5px 4px -4px #333;
    position: fixed;

    @media #{$mobile-media} {
      position: static;
    }
  }

  .show_intro & {
    flex: 0 0 0;
    opacity: 0;
    padding: 0;
  }

  .nav-link {
    text-shadow: 0 2px 1px rgba($mole, 0.6);
    font-size: 1.05rem;
    display: block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.25em 1.5em;

    &.logo {
      position: absolute;
      top: 1em;
      left: 2em;
      width: 150px;
    }
  }
}
