.diy-slideshow {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0 auto 1em;
  max-width: 100%;
  width: 768px;

  @media #{$mobile-media} {
    max-width: calc(100% + 2em);
    left: -1em;
  }

  figure {
    @include transition(1s opacity);
    position: absolute;
    opacity: 0;

    img {
      width: 100%;
    }

    &.show {
      @include transition(1s opacity);
      opacity: 1;
      position: static;
    }
  }

  figcaption {
    position: absolute;
    font-family: sans-serif;
    font-size: .8em;
    bottom: .75em;
    right: .35em;
    padding: .25em;
    color: #fff;
    background: rgba(0,0,0, .25);
    border-radius: 2px;

    a {
      color: #fff;
    }
  }
}


.next, .prev {
  @include transition(0.5s opacity);
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .3;
  user-select: none;
}

.next:hover, .prev:hover{
  cursor: pointer;
  opacity: 1;
}

.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
