extends layout

block content
  div.img-container
    img(src='/images/chef_flame.jpg', alt='Chef Luis', class='in-content')
  p.
    Chef José Luis has been working for over 14 years in different restaurants in Puebla, Mexico and around the United States where he has trained and practiced all the details and tips about cooking Mexican, Italian, American, Spanish, Portuguese and Mediterranean food. During his career he has specialized in cooking for gourmet Mexican and Spanish restaurants.
  p.
    Jesús is a traveler who loves cooking and eating. Through his travels he has seen and tasted the flavors of many different countries from Latin America through Western and Eastern Europe to the Middle East. “When somebody you meet invites you to their table that is when you realize that families really show you their culture thru their kitchen and flavors”, he says. This was the principal reason why we wanted to partner and open a window to the Mexican culture and customs through the flavors of Mexico…
  p.
    We share the dream of bringing the real flavors of Mexican cuisine to the people of Pittsburgh. Mi casa es tu casa!!
  include ./includes/reviews
