extends layout

block content
  img(src='/images/chef_flame.jpg', alt='Chef Luis', class='in-content')
  p.
    Chef Jose have been working in different restaurants in Puebla Mexico, and
    around United States where he have train and practice for over 14 years all the
    details and tips about cooking Mexican, Italian, American, Spanish, Portuguese
    and Mediterranean food. During his carrier he have specialize in cooking for
    gourmet Mexican and Spanish restaurants.

  p.
    Jesús is a traveler who loves cooking and eating. Through his travels he have
    seen and taste the flavors of many different countries from Mexico thru Western
    and Eastern Europe to the Middle East. “When somebody you meet invite you to
    their table is when you realize that families really show you their culture thru
    their kitchen and flavors” he says.

  p.
    This was the principal reason why we wanted to Join and open a window to the
    Mexican culture and costumes thru the flavors of Mexico…
  p.
    We share the dream to bring to Pittsburgh the real flavors from the Mexican
    cuisine to the people of Pittsburgh.
