extends layout

block content
  p.
    Food For Thought is the foundation and the highlight at any occasion, from weddings, parties, corporate events, or just as a fine dining experience.  We use only the finest ingredients to tantalize your palate and keep our guests satisfied and coming back for more.﻿
  p.
    Whether you have a wedding, corporate event, a children’s party, or you just want a great night out, for your occasion we will strive to create a masterpiece of a meal to satisfy even the most stubborn palate. If you are looking for a fine dining experience in the Pittsburgh area then we are definitely the right place you are looking for.  We are equipped to cater larger parties as well.
  p.
    Have have a look at our catering menu below and <a href='/contact'>send us an email</a>.

  // include ./includes/menu.catering.jade

  p.
    We can prepare and deliver food or, for an extra charge, we can set up a buffet table for your event as well.
  p.
    If there is a special dish you would like for your event and cannot find it here, please ask about it. Most likely, we can prepare it for you.
  p.
    We need a minimum of two weeks notice for small events, and one month's notice for parties of more than 50 people.
