extends layout

block content
  figure.img-container
    img(src='/images/catering/an_event.jpg', alt='Shrimp and Avocado', class='in-content')
  p.
    Whether you have a wedding, corporate event, a children’s party, or you just want a great night out, for your occasion we will strive to create a masterpiece of a meal to satisfy even the most stubborn palate. We are equipped to cater parties of all sizes.
  p.
    We can prepare and deliver food or, for an extra charge, we can set up a buffet table for your event as well. If there is a special dish you would like for your event and cannot find it here, please ask us about it. Most likely, we can prepare it for you.
  p.
    We require a minimum of two weeks notice for small events, and one month’s notice for parties of more than 50 people.
  p.
    Have have a look at our catering menu below and <a href='/contact?subject=catering'>send us an email</a>.

  include ./includes/menus/catering_static.jade

