extends layout

block content
  h2 Bienvenidos!
  div.two-col
    p.intro.center.
        We offer many ways for you to taste the flavors of Mexico. Enjoy!
    ul
      li.one
        h3 Our Kitchen
        p
          a(href='/menu')
            img(src='/images/kitchen.jpg' alt='South Side Location')
      li.two
        h3 The Trailer
        p
          a(href='/trailer')
            img(src='/images/trailer.jpg' alt='Trailer')
      li.three
        h3 Catering
        p
          a(href='/catering')
           img(src='/images/catering/private_party.jpg' alt='Catering')
  blockquote
    p.
      We have opened a window to Mexican culture and its customs through the real flavors from the Mexican gourmet cuisine (in other words, grandma recipes), creating a holistic experience for our guests. We invite you to come and try the difference!
    cite.
      &mdash; Jesus Martinez & Luis Navarrete
  include ./includes/reviews
