extends layout

block content
  h2 Bienvenidos!
  blockquote
    p.
      We are opening a window to the Mexican culture and customs through the real flavors from the Mexican gourmet cuisine (in other words, grandma recipes) and creating a holistic experience on your visit, we invite you to come and try the difference!
    cite.
      &mdash; Jesus Martinez & Luis Navarrete

  div.three-ways
    p.intro.center.
        We offer many ways to enjoy our delicious food. Enjoy!
    ul
      li.one
        h3 Our Kitchen
        p
          a(href='/menu')
            img(src='/images/kitchen.jpg' alt='South Side Location')
      li.two
        h3 Public Market
        p
          a(href='/contact#map-public-market-header')
            img(src='/images/catering/public_market.jpg' alt='Public Market')
      li.three
        h3 Catering
        p
          a(href='/catering')
           img(src='/images/catering/private_party.jpg' alt='Catering')
  p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  p
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  //p(contenteditable, id='description-text')
  //p(contenteditable, id='more-description-text')

  //form(method='post', action='/' id='content-form')
    //input(type='submit', value='Send')
