extends layout

block content
  p(contenteditable, id='description-text')

  p(contenteditable, id='more-description-text')

  form(method='post', action='/' id='content-form')
      input(type='submit', value='Send')
