extends layout

block content
  h2 Bienvenidos!
  blockquote
    p.
      We are opening a window to the Mexican culture and customs through the real flavors from the Mexican gourmet cuisine (in other words, grandma recipes) and creating a holistic experience on your visit, we invite you to come and try the difference!
    cite.
      &mdash; Jesus Martinez & Luis Navarrete

  div.three-ways
    p.intro.center.
        We offer many ways for you to taste the flavors of Mexico. Enjoy!
    ul
      li.one
        h3 Our Kitchen
        p
          a(href='/menu')
            img(src='/images/kitchen.jpg' alt='South Side Location')
      li.two
        h3 Public Market
        p
          a(href='/contact#map-public-market-header')
            img(src='/images/catering/public_market.jpg' alt='Public Market')
      li.three
        h3 Catering
        p
          a(href='/catering')
           img(src='/images/catering/private_party.jpg' alt='Catering')
  include ./includes/reviews
