<!--[if IE]><![endif]-->
doctype html
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en" class="no-js"><!--<![endif]-->
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title= title
    link(href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet')
    link(rel='stylesheet', href='/dist/main.min.css')
    script(src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false")
  body(class='#{section}')
    div.container
      div.steps
        div.step.one
          span.step.three.first La Pa
          span.step.three.middle l
          span.step.three.last apa
        div.step.two.
          A Mexican Gourmet Kitchen
        img.step.four(src='/images/palapa.png', width='102', height='83')
      include ./includes/header.jade
      include ./includes/nav.jade
      main
        block content
        include ./includes/friends.jade
      footer
        include ./includes/footer.jade

