<!--[if IE]><![endif]-->
doctype html
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if gt IE 9]><!--><html lang="en" class="no-js"><!--<![endif]-->
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    title= title
    link(rel='stylesheet', href='/dist/main.min.css')
  body
    block content
  footer
    p.copy.
      Copyright @#{year}, #{title}

