extends layout

block content
  include ./includes/slideshow
  div.more-info
    p.icon-farm Our beef is locally sourced from <a href='http://www.clarionfarms.com'>Clarion Farms</a>.
    p.icon-wine The kitchen is BYOB and we charge a $3/person corkage fee.
  include ./includes/menus/south_side
