extends layout

block content
  div.more-info
    p.icon-farm All beef is locally sourced from <a href='http://www.clarionfarms.com'>Clarion Farms</a>.
    p.icon-wine We are BYOB and have a $3/person corkage fee.
  include ./includes/menus/south_side
