extends layout

block content
  p For a quick, delicious lunch, come by our trailer. <strong>Lunch hours are from 11am to 2pm, Tuesday through Friday</strong>.

  p If you'd like to see the trailer at a particular event, we can do that! <a href='/contact?subject=catering'>Send us an email</a>.

  div(class='box half', role='region')
    h3 Trailer &ldquo;Feed&rdquo;
    <a class="twitter-timeline" href="https://twitter.com/hashtag/LaPalapaBuggy" data-widget-id="640732455679356928" data-chrome="nofooter noborders">#LaPalapaBuggy Tweets</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  div(class='box half', role='region')
      h3(id='map-trailer-title') Trailer Location
        span.address Penn Ave. and 7th street, Downtown Pittsburgh
      div(id='map-trailer', aria-labelledby='map-trailer-title', class='map')

  script(src="//maps.googleapis.com/maps/api/js?key=a92721746baac6790da96006082c335996beed4d")
  include ./includes/maps/trailer.jade

