ul.food-menu#menu-brunch
  li.food-menu-list-item.full-width
    h3 Almuerzos! (Brunch Menu)
    p Every plate comes with refried beans, tortillas and our own version of potato pancakes.
    dl
      dt Fruit Plate
        span.food-menu-price $7.00
      dd A mix of seasonal fruit.
      dt Pan Dulce
        span.food-menu-price $3.00 per piece
      dd Mexican sweet bread
      dt Chilaquiles
      dd Tortilla chips with green or red sauce, fresh onion, sour cream and queso fresco with your choice of chicken, eggs or steak… just the right mix of flavors!
        ul.horizontal-list
          li Chicken $9.50
          li Eggs $9.50
          li Steak $10.50
      dt Huevos Divorciados
        span.food-menu-price $8.50
      dd Three eggs topped with Green and red sauce.
      dt Huevos Rancheros
        span.food-menu-price $8.50
      dd Three tortillas with refried beans and three eggs on top, a classic brunch dish at every home in Mexico City.
      dt Molletes Palapa
      dd Bolillo bread filled with refried beans, ham, poblano pepper and chorizo topped with melted cheese and pico de gallo on the side - a favorites of kids and adults, too!
        ul.horizontal-list
          li Vegetarian $7.50
          li With everything $9.50
      dt Tortilla de huevo
        span.food-menu-price $9.95
      dd An egg omelet with onions and potatoes in a tortilla shape.
      dt Huevos al gusto
        span.food-menu-price $8.50
      dd Three scrambled eggs mixed with your choice of chorizo, ham, bacon or “Mexican style” (tomato, onion, cilantro and a touch of Jalapeño peppers) just the way mama used to make them.
      dt Breakfast Tacos
        span.food-menu-price $3.50 per piece
      dd With scrambled eggs, bacon, sour cream, queso fresco and pico de gallo, or any taco from our regular menu.
      dt Breakfast burrito
        span.food-menu-price $9.50
      dd Scrambled eggs, ham, bacon, cheese, rice, beans, pico de gallo, sour cream, everything inside a Big flour tortilla and topped with our green salsa and mole sauce, or if you prefer, we can top it with our jalapeño cheese dip sauce instead!
      dt Liquado Drink (16oz)
        span.food-menu-price $4.50
      dd A blend of milk, cinnamon, sugar, vanilla and your choice of Chocolate, Banana, Mango or Strawberry - refreshing and delicious!
