ul.food-menu
    li.food-menu-list-item
        h3#catering_0 Soups
        dl(aria-labelledby='catering_0')
          dt Crema de Chile (Poblano Pepper Cream Soup)
          dd
            | Onion and cilantro-based cream soup with poblano pepper strips and corn, traditionally served at celebrations in Puebla, Mexico.
          dt Sopa de Tortilla (Tortilla Soup)
          dd
            | Crispy tortilla strips and a poached egg submerged in garlic, cilantro and oregano-based broth and topped with sour cream!
          dt Sopa de Pescado(Fish Soup)
          dd
            | Fish soup with tilapia and potatoes prepared with onion, garlic and fresh tomatoes &mdash; a special dish originating from the coast of Veracruz.
      li.food-menu-list-item
        h3#catering_1 Salads
        dl(aria-labelledby='catering_1')
          dt Enslada Palapa (Palapa House Salad)
          dd
            | Our own salad creation featuring cucumber, beets, onion, tomato, carrots, no pales (cactus), boiled egg and queso fresco.
          dt Salpicon de Camaron y Calamar (Tasty Ceviche Variation)
          dd
            | This famous dish from the Pacific coast includes shrimp and squid mixed with fresh onion, cilantro, tomato, roasted peppers and boiled egg.
          dt Ensalada de Atun (Tuna Salad)
          dd
            | Lettuc, onion, tomato and shredded carrots mixed with tuna fish. Your taste buds will tell you, gracias!
      li.food-menu-list-item
        h3#catering_2 Appetizers
        dl(aria-labelledby='catering_2')
          dt Tamales
          dd
            | Warm, corn-based dough wrapped in a cornhusk and steam cooked &mdash; meat and vegetarian options available.
          dt Guacamole &amp; Chips
          dd The best guac in the &apos;burgh! Served with our homemade tortilla chips.
          dt Chiles Rellenos (Stuffed Peppers)
          dd
            | A flavorful dish from Mexico City &mdash; banana peppers stuffed with spinach and cheese and topped with green or red sauce.
          dt Hongos Rellonos al Ajillo (Stuffed Mushrooms in Garlic Sauce)
          dd
            | Tasty  mushrooms filled with vegetables and topped with garlic sauce &mdash; a perfect vegetarian option.
          dt Nachos
          dd
            | Homemade tortilla chips topped with melted cheese, corn, black beans, sour cream, pico de gallo, and your choice of beef or chicken &mdash; perfect for sharing with friends!
          dt Camarones a la Diabla (Devil&apos;s Shrimp)
          dd
            | Shrimp saut&eacute;ed in guajillo pepper sauce &mdash; delicious when combined with our guacamole and chips!
      li.food-menu-list-item
        h3#catering_3 Entrees
        dl(aria-labelledby='catering_3')
          dt Fajitas Nayarit
          dd
            | Your choice of chicken, steak or vegetable fajitas, grilled with peppers and pineapple.
          dt Mole con Pollo (Chicken with Mole)
          dd
            | Chicken with traditional Mexican mole &mdash; the perfect blend of spices, chile peppers and chocolate! So good!
          dt Puerco en Salsa verde (Pork in Green Sauce)
          dd
            | Pork shoulder cooked with potatoes and zucchini in our special tomatillo and poblano pepper sauce.
          dt Cochinita Pibil (Pork with Achiote Sauce)
          dd
            | This pork dish from the Yucatan peninsula of Mexico is marinated in Achiote sauce and cooked slowly in the oven; it comes with red onion, lime and habanero pepper salsa on the side.
          dt Cazuela de Pescado (Fish Stew)
          dd
            | This seafood stew of salmon, tilapia and mussels is cooked in white wine with tomato, garlic and cilantro.
          dt Barbacoa
          dd
            | This beef chuck is carefully marinated, then wrapped in banana leaves and steam-cooked. Provecho!
      li.food-menu-list-item
        h3#catering_4 Desserts
        dl(aria-labelledby='catering_4')
          dt Tapioca
          dd Rice pudding infused with cinnamon &mdash; a sweet treat for you!
          dt Flan
          dd
            | One of our specialties &mdash; this custard is made with your choice of coconut or vanilla.
          dt Tequila Cake
          dd Moist, fluffy cake baked with a shot of Tequila for extra flavor. Delicious!
          dt Aguas Frescas
          dd Refreshing horchata hibiscus, lemonade or seasonal fruit flavors available!
