ul.food-menu#menu-drinks
  li.food-menu-list-item
    h3 Beverages
    dl
      dt
        | Agua Fresca (natural fruit flavored water)
        span.food-menu-price $3.00
      dd Flavors vary from week to week.
      dt
        | Sugar Cane Sodas (Jarritos &amp; Mexican Coca-cola)
        span.food-menu-price $2.50
      dd Ask for the flavor we have at that day.
      dt
        | Non-Alcoholic Beer
        span.food-menu-price $2.59
      dd O’Doul’s
      dt
        | Soft Drinks
        span.food-menu-price $2.29
      dd Pepsi, Diet Pepsi, Mountain Dew, Ginger Ale, Sierra Mist, Cranberry Juice, Pink Lemonade.
      dt
        | Iced Tea
        span.food-menu-price $2.00
      dd
      dt
        | Hot Tea
        span.food-menu-price $2.00
      dd
      dt
        | Coffee
        span.food-menu-price $2.00
      dd

  li.food-menu-list-item
    h3 Beer
    dl
      dt.menus-sub-header Local Beer
      dd
      dt
        | East End Big Hop (12oz Can)
        span.food-menu-price $5.00
      dd
      dt
        | Roundabout Brewery (Only one on Tap)
        span.food-menu-price $5.00
      dd
      dt.menus-sub-header Mexican Beer
      dd
      dt Victoria
        span.food-menu-price $5.00
      dd
      dt Bohemia
        span.food-menu-price $5.00
      dd
      dt Modelo Special
        span.food-menu-price $4.50
      dd
      dt Negra Modelo
        span.food-menu-price $5.00
      dd
      dt Dos Equis Lager
        span.food-menu-price $4.50
      dd
      dt Dos Equis Ambar
        span.food-menu-price $4.50
      dd
      dt Corona
        span.food-menu-price $4.50
      dd
      dt Corona Light
        span.food-menu-price $4.50
      dd
      dt Pacífico
        span.food-menu-price $5.00
      dd
      dt Tecate (Can)
        span.food-menu-price $4.00
      dd
      dt Sol
        span.food-menu-price $4.00
      dd

      dt.menus-sub-header Non-Mexican Beer
      dd
      dt Adams
        span.food-menu-price $4.00
      dd
      dt Michelob Ultra
        span.food-menu-price $5.00
      dd
      dt Blue Moon
        span.food-menu-price $4.00
      dd
      dt Budweiser
        span.food-menu-price $5.00
      dd
      dt Bud Light
        span.food-menu-price $4.00
      dd
      dt Yuengling
        span.food-menu-price $4.00
      dd
      dt Coors Light
        span.food-menu-price $4.00
      dd
      dt Miller Light
        span.food-menu-price $4.00
      dd

  li.food-menu-list-item
    h3 MEZCAL-ITAS!
    p Mixed drinks with Mezcal
    dl
      dt Palapassion
        span.food-menu-price $11.00
      dd Los Amantes Mezcal, Cucumber, Celery, Passion Fruit juice, Pineapple juice, and fresh lime juice! For the passionate person.
      dt Corazón de Oaxaca (The Heart of Oaxaca)
        span.food-menu-price $11.00
      dd Mezcal Blanco, Sweet Vermouth and Chocolate Bitters.
      dt Corazón de Oaxaca (The Heart of Oaxaca)
        span.food-menu-price $11.00
      dd Mezcal Blanco, Sweet Vermouth and Chocolate Bitters.
      dt Piña Caliente (Hot Pineapple)
        span.food-menu-price $10.00
      dd Mezcal Reposado, Fresh lime juice, pineapple juice, our home-made pineapple syrup and Tajín Rim.
      dt Adan y Eva (Adam &amp; Eve)
        span.food-menu-price $10.00
      dd Mezcal Reposado, Apple soda and apple juice.
      dt Fresca Primavera (Fresh Spring)
        span.food-menu-price $11.00
      dd Los Amantes Mezcal, Grenadine, Fresh watermelon and lime juice.
      dt Mezcal Mule
        span.food-menu-price $10.00
      dd Mezcal Blanco, ginger beer, simple syrup, fresh lime juice and a splash of sparkling water.
      dt Besos de Agave (Agave Kisses)
        span.food-menu-price $11.00
      dd A mix of Mezcal and Tequila blanco, Campari, fresh orange juice, lime juice, Cointreau and chocolate bitters!

  li.food-menu-list-item
    h3 MARGARITAS
    p Salt on the rim? It's optional—just tell us how you'd like it. Like it frozen? Add $1.
    dl
      dt Pineapple Margarita
        span.food-menu-price $9.00
      dd Tequila, Triple Sec, and fresh pineapple juice (on Rocks)
      dt La Palapa Margarita (Rocks or Frozen)
        span.food-menu-price $8.00
      dd
      dt Viagra Margarita (on Rocks or Frozen)
        span.food-menu-price $9.00
      dd La Palapa Margarita mixed with Hypnotic and Blue Curacao
      dt Tropical Sangria Margarita (on Rock sor Frozen)
        span.food-menu-price $10.00
      dd La Palapa Margarita with tropical White sangria
      dt VIP Margarita (on Rocks)
        span.food-menu-price $13.00
      dd Don Julio Añejo, Grand Marnier, fresh orange juice, and lime juice

  li.food-menu-list-item
    h3 TEQUILA
    dl
      dt.menus-sub-header Blanco
      dd
      dt Cazadores Blanco
        span.food-menu-price $11.00
      dd
      dt Hornitos Plata
        span.food-menu-price $8.00
      dd
      dt Milagro Silver
        span.food-menu-price $8.00
      dd
      dt Espolon
        span.food-menu-price $8.00
      dd
      dt Herradura Blanco
        span.food-menu-price $9.00
      dd
      dt Casa Noble Blanco
        span.food-menu-price $9.00
      dd
      dt 1800 Tequila Silver
        span.food-menu-price $9.00
      dd
      dt Wild Shot Silver
        span.food-menu-price $9.00
      dd
      dt Cabo Wabo Blanco
        span.food-menu-price $9.00
      dd
      dt Don Julio Silver
        span.food-menu-price $10.00
      dd
      dt Patron Silver
        span.food-menu-price $10.00
      dd
      dt Casa Amigos Blancos
        span.food-menu-price $10.00
      dd
      dt Avion Silver
        span.food-menu-price $10.00
      dd

      dt.menus-sub-header Reposado
      dd
      dt Corralejo
        span.food-menu-price $9.00
      dd
      dt Cazadores
        span.food-menu-price $9.00
      dd
      dt Jimador
        span.food-menu-price $9.00
      dd
      dt Hornitos
        span.food-menu-price $9.00
      dd
      dt Jose Cuervo Traditional
        span.food-menu-price $9.00
      dd
      dt Espolon
        span.food-menu-price $9.00
      dd
      dt El Mayor
        span.food-menu-price $9.00
      dd
      dt Herradura
        span.food-menu-price $10.00
      dd
      dt Cabo Wabo
        span.food-menu-price $10.00
      dd
      dt Don Julio
        span.food-menu-price $11.00
      dd
      dt Patron
        span.food-menu-price $11.00
      dd
      dt Casa Amigos
        span.food-menu-price $11.00
      dd
      dt Avion
        span.food-menu-price $11.00
      dd

      dt.menus-sub-header Añejo
      dd
      dt Tres Generaciones
        span.food-menu-price $11.00
      dd
      dt Espolon
        span.food-menu-price $11.00
      dd
      dt Don Julio
        span.food-menu-price $12.00
      dd
      dt Patron
        span.food-menu-price $12.00
      dd
      dt Casa Noble
        span.food-menu-price $12.00
      dd
      dt Casa Amigos
        span.food-menu-price $12.00
      dd

  li.food-menu-list-item
    h3 Mescal
    dl
      dt Monte Alban
        span.food-menu-price $8.00
      dd
      dt Ilegal Joven
        span.food-menu-price $9.00
      dd
      dt Los Amantes Joven
        span.food-menu-price $10.00
      dd

  li.food-menu-list-item
    h3 Mixed Drinks
    dl
      dt Michelada (16oz)
        span.food-menu-price $7.00
      dd
      dt Piña Colada
        span.food-menu-price $9.00
      dd
      dt Mojito
        span.food-menu-price $8.00
      dd
      dt Rum &amp; Coke
        span.food-menu-price $8.00
      dd
      dt Blody María or Mary
        span.food-menu-price $6.00
      dd
      dt Mimosa
        span.food-menu-price $5.00
      dd
      dt Stawberry Daiquiri
        span.food-menu-price $9.00
      dd
      dt Martini (Dry, Dirty, Cosmopolitan, Apple, Regular)
        span.food-menu-price $8.00
      dd
      dt Manhattan
        span.food-menu-price $8.00
      dd
      dt Long Island Iced Tea
        span.food-menu-price $8.00
      dd

  li.food-menu-list-item
    h3 Vodka
    dl
      dt Absolut
        span.food-menu-price $8.00
      dd
      dt Stoli Vanilla
        span.food-menu-price $8.00
      dd
      dt Bankers Club
        span.food-menu-price $8.00
      dd
      dt Titos
        span.food-menu-price $9.00
      dd
      dt Ketel One
        span.food-menu-price $9.00
      dd
      dt Grey Goose
        span.food-menu-price $10.00
      dd

  li.food-menu-list-item
    h3 Rum
    dl
      dt Bacardi Gold
        span.food-menu-price $8.00
      dd
      dt Bacardi Superior
        span.food-menu-price $8.00
      dd
      dt Captain Morgan
        span.food-menu-price $8.00
      dd
      dt Malibu
        span.food-menu-price $8.00
      dd
      dt Myers Dark
        span.food-menu-price $8.00
      dd
      dt Castillo
        span.food-menu-price $6.00
      dd

  li.food-menu-list-item
    h3 Whiskey and Bourbon
    dl
      dt Jim Beam
        span.food-menu-price $7.00
      dd
      dt Wild Turkey American Honey
        span.food-menu-price $7.00
      dd
      dt FireBall
        span.food-menu-price $7.00
      dd
      dt Jameson
        span.food-menu-price $8.00
      dd
      dt Jack Daniels
        span.food-menu-price $8.00
      dd
      dt Maker’s Mark
        span.food-menu-price $8.00
      dd
      dt Knob Creek
        span.food-menu-price $9.00
      dd

  li.food-menu-list-item.full-width
    h3 Happy Hour
    p Happy Hour will be from 4pm to 6pm Monday thru Friday (no weekends).
    dl
      dt.menus-sub-header Everyday Happy Hour Promotion
      dd
      dt La Palapa Margarita
        span.food-menu-price $5.00
      dd
      dt Adan y Eva Drink
        span.food-menu-price $7.00
      dd
      dt Any Mexican Beer
        span.food-menu-price $1.00 off
      dd
      dt.menus-sub-header Happy Hour Food Promo
      dd
      dt Tuesday
      dd (TacoTuesday 3 tacos for $7.00, If tacos are with Fish or Beef tongue, add $1.50 per taco) This promo is actually every Tuesday from 3 pm until Close.
      dt Wednesday
      dd (Chicken, Beef or Vegetarian Nachos only $7.00)
      dt Thursday
      dd (Any Two Empanadas for $5.00)
      dt Friday
      dd (Two Chicken and Beef or vegetarian Tostadas for $5.00)
      dt *Additional*
      dd We have a lunch special every day during the week. The menu changes weekly and includes a soup, main dish and a drink for $12.95
