script.
  var menu_obj    = !{JSON.stringify(menu_obj)},
      menu_type   = menu_obj[0].type,
      courses_len = menu_obj[0].courses.length,
      items_len,
      courses,
      items;

  function printOptions(options) {
    if (typeof options !== "undefined") {
      var i           = 0,
          len         = options.length,
          option_type = "",
          option,
          label,
          html;

      html = '<span class="options">';
      for (; i < len; i++) {
        option = options[i];

        if (option === "V" || option === "GF") {
          option_type = ' class="special"';

          if (option === "V") {
            label = ' aria-label="Vegetarian option" title="Vegetarian option"';
          } else if (option === "GF") {
            label = ' aria-label="Gluten-free option" title="Gluten-free option"';
          }
        }
        html+= '<span' + option_type + label + '>' + option + '</span>';
      }
      html+= '</span>';

      return html;
    }

    return '';
  }

  function printPrice(price) {
    if (typeof price !== "undefined") {
      return '<span class="food-menu-price">' + price + '</span>';
    }

    return '';
  }

  if (courses_len > 0) {
    document.write('<ul class="food-menu">');
    document.write('<li class="food-menu-list-item legend">')
      document.write('<span class="options">');
        document.write('<span class="special">V</span><span class="means"> Vegetarian</span>');
        document.write('<span class="special">GF</span><span class="means"> Gluten Free</span>')
      document.write('</span>');
    document.write('</li>')

    document.write('<li class="food-menu-list-item">');
    document.write('<h3>Favorites</h3>');
    document.write('<dl>');
    document.write('<dt>');
      document.write('Tacos' +
        '<span class="options">' +
          '<span class="special" aria-label="Gluten-free option" title="Gluten-free option">GF</span>' +
        '</span>' +
        '<span class="food-menu-price">$3.25</span>');
    document.write('</dt>');

    document.write('<dd>Chicken, Chorizo, Ground Beef, Barbacoa, Rajas con papas, Mushrooms, Chipotle, BBQ pulled pork.</dd>');

    document.write('<dt>');
      document.write('Quesadillas' +
        '<span class="food-menu-price">$3.50</span>');
    document.write('</dt>');

    document.write('<dd>Made with flour or corn tortilla, and served with a side of sour cream, pico de gallo and guacamole.</dd>');

    document.write('<dt>');
      document.write('Tortas' +
        '<span class="food-menu-price">$9.50</span>');
    document.write('</dt>');

    document.write('<dd>Includes mayonnaise, beans, tomato, lettuce, onionm avocado, and served with a side of french fries.</dd>');

    document.write('</dl>');
    document.write('</li>');

    for (var i = 0; i < courses_len; i++) {
      document.write('<li class="food-menu-list-item">');
      document.write('<h3 id="' + menu_type + '_' + i + '">' +
                        menu_obj[0].courses[i].course +
                      '</h3>');
      document.write('<dl aria-labelledby="' + menu_type + '_' + i + '">');

      items_len = menu_obj[0].courses[i].items.length;

      for (var j = 0; j < items_len; j++) {
        document.write('<dt>' +
                          menu_obj[0].courses[i].items[j].name +
                          printOptions(menu_obj[0].courses[i].items[j].options) +
                          printPrice(menu_obj[0].courses[i].items[j].price) +
                        '</dt>');
        document.write('<dd>' +
          menu_obj[0].courses[i].items[j].description +
        '</dd>');
      }
      document.write('</dl>');
      document.write('</li>');
    }
    document.write('</ul>');
  }
