ul.food-menu#menu-main
    li.food-menu-list-item.legend
        span.options
          span.special V
          span.means  Vegetarian
          span.special GF
          span.means  Gluten Free
      li.food-menu-list-item
        h3#southside_0 Soups
        dl(aria-labelledby='southside_0')
          dt
            | Sopa de Tortilla
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $4.95
          dd
            | Garlic, cilantro and oregano-based broth with crispy tortilla strip, sour cream and a poache egg.
          dt
            | Frijoles Charros
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $5.50
          dd
            | Pinto beans cooked with bacon, sausage, tomato, cilantro and spices – a favorite of every Mexican family!
          dt
            | Sopa de Pescado
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $5.95
          dd
            | Fish soup with tilapia and potatoes, prepared with onion, garlic and fresh tomatoes - a special dish originating from the coast of Veracruz.
          dt
            | Sopa de Verdura
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $4.95
          dd Our delicious home made vegetable soup.
      li.food-menu-list-item
        h3#southside_1 Salads
        dl(aria-labelledby='southside_1')
          dt
            | Ensalada Palapa
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $9.50
          dd
            | Our own salad creation with cucumber, beets, onion, tomato, carrots, nopales (cactus), boiled egg and queso fresco.
          dt
            | Ensalada de la Huerta
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $8.95
          dd
            | Garden salad mixed with fresh lettuce, onion, roasted peppers, tomatoes and carrots &ndash; light &amp; refreshing!
          dt
            | Ensalada de Palmitos
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $9.50
          dd
            | Palm hearts, pinto beans, beets, cilantro, onion and tomato, as fresh as sitting underneath a palm three.
          dt
            | Add any of the following to your salad
            span.food-menu-price $3.50
            dd
              ul.horizontal-list
                li Chicken
                li Chorizo
                li Potatoes
                li Barbacoa
                li Chipotle Pork
              p
                em Dress your salad with olive oil, red vinegar, or house pineapple or cilantro dressing.

          dd
      li.food-menu-list-item
        h3#southside_2 Appetizers
        dl(aria-labelledby='southside_2')
          dt
            | Tamal
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $4.95
          dd
            | An ancestral dish of warm corn-based dough wrapped in a cornhusk &amp; steam-cooked. Meat or vegetarian options available; ask about what we are serving today!
          dt
            | Chorizo Salteado
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $9.95
          dd
            | Sautéed spanish chorizo served with spinach and onion
          dt
            | Jalapeños Rellenos
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $8.95
          dd
            | 8 Half Jalapeño peppers filled with Philadelphia cheese and wrapped in bacon, great to share!
          dt
            | Tostadas de Camarón y Tilapia (2)
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $10.95
          dd
            | This is a flavorful crisp tortilla shell topped with shrimp and tilapia fish ceviche, pairs very well with an ice cold Michelada!
          dt
            | Chiles rellenos con queso y espinaca
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $9.50
          dd
            | A flavorful Mexico City classic – poblano peppers stuffed with spinach and cheese, topped with green or red sauce.
          dt
            | Jalapeño Cheese Dip and chips
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $4.95
          dd
            | Delicious mix of cheddar jack, mozzarella, cotija and queso fresco with a touch of Jalapeño pepper.
          dt
            | Chips &amp; Salsa
            span.food-menu-price $3.50
          dd
            | Choose between pico de gallo or green salsa with tortilla chips.       (Both salsas for $5.50)
          dt
            | Side Table Chips &amp; Guacamole
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $9.95
          dd The best guac in the ‘burgh! Made right on the side of your table! Add bacon for $2.00.
          dt
            | Nachos with <br>
            span.options
              span Chicken: $8.95 <br>
              span Ground Beef: $9.95 <br>
              span Chicken & Beef: $11.95
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
          dd
            | Homemade tortilla chips topped with melted cheese, corn, sour cream, pico de gallo, cheese dip, and your choice of meat… Perfect for sharing with friends!
          dt
            | Empanadas
            span.food-menu-price $4.95
          dd Wheat flour dough filled with chicken, ground beef, shrimp or veggies&mldr; Provecho!
      li.food-menu-list-item
        h3#southside_3 Specialties
        p All entrees served with rice &amp; pinto beans or vegetables.
        dl(aria-labelledby='southside_3')
          dt
            | Tamales
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $12.95
          dd
            | Two warm corn-based dough tamales wrapped in cornhusks &amp; steam-cooked, topped with green salsa or mole. Meat and vegetarian opƟ ons available; ask about what we are serving today!
          dt
            | Mole con Pollo (Chicken with Mole)
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $13.95
          dd
            | Chicken with traditional Mexican mole &mdash; the perfect blend of spices, chile peppers and chocolate! So good!
          dt
            | Lengua en Salsa Verde
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $14.95
          dd Locally raised beef tongue slowly cooked in a poblano pepper and tomatillo sauce
          dt
            | Barbacoa
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $13.95
          dd
            | Tenderly marinated &amp; slow roasted beef; the best choice for a hangover :0
          dt
            | Flautas de Pollo, Barbacoa o Papa
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
            span.food-menu-price $12.95
          dd
            | Your choice of chicken, barbacoa or potatoes wrapped in a crispy tortilla and topped with lettuce, tomato, queso fresco and sour cream. Dish includes 4 flautas.
          dt
            | Cazuela del Mar
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $15.95
          dd
            | This seafood stew features salmon, tilapia and mussels cooked in white wine with tomato, garlic, and cilantro.
          dt
            | Chuletas de puerco en salsa verde ó al ajillo
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $13.95
          dd Delicious pork chops prepared with our famous green salsa or garlic sauce.
          dt
            | Chamorro de Borrego en Guajillo
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $14.95
          dd
            | Slow roasted lamb shank in a guajillo salsa.
          dt
            | Tilapia a la Veracruzana
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $13.95
          dd
            | Slow-cooked tilapia covered with a special sauce of tomato, onion, capers and green olives.
          dt
            | Fajitas Nayarit
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF<br>
              span Vegetarian/Chicken: $12.95<br>
              span Steak: $13.95<br>
              span Shrimp: $14.95<br>
          dd Grilled fajitas mixed with peppers, mushrooms and pineapple... Yum!
          dt
            | Enchiladas Verdes o Rojas
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $12.95
          dd
            | Three enchiladas with your choice of chicken, beef, mushroom or cheese, wrapped in a corn tortilla and topped with green or red sauce, sour cream and queso fresco.
          dt
            | Enchiladas Norte&ntilde;as
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $13.95
          dd
            | Three chicken, mushroom or cheese enchiladas with red sauce and 6 oz. steak on the side&mldr; An appetizing treat!
          dt
            | Burrito Steelers
            span.food-menu-price $12.95
          dd
            | Ground beef and chicken, rice, pinto beans, spinach, pico de gallo, sour cream, cheese and spicy sauce wrapped in a flour tortilla. Every bite packed with flavor!
          dt
            | Charola para Dos!
            span.food-menu-price $29.95
          dd
            | Can&rsquo;t decide what you want? Try our sampler! Includes one tamal, one quesadilla, one flauta, one pork rib, chicken with mole and one empanada. Just the thing to share with a friend!
      li.food-menu-list-item
        h3#southside_4 Churrasco
        p A tasty technique to slow roast meats! The meat just falls off the bone! Served with rice and roasted potato, veggies or sweet potato french fries.
        dl(aria-labelledby='southside_4')
          dt
            | Corte Porter House a la Mexicana
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $24.95
          dd Porter House Steak locally raised at ‘Clarion Farms’ cooked to order with our special “a la Mexicana” sauce made with roasted tomatoes, onion, cilantro and jalapeño peppers! You won’t regret ordering it.

          dt
            | Pollo asado
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $13.95
          dd Marinated 1/2 chicken with wine, herbs and spices, served with sautéed Onions and green peppers!
          dt
            | Pechuga a la Plancha
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $12.95
          dd Grilled chicken breast.
          dt
            | Costilla de Puerco
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $12.95
          dd
            | Tender pork ribs seasoned with wine, slow roasted and topped with mole sauce.
          dt
            | Combo
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $15.95
          dd Includes pork ribs and chicken breast
          dt
            | Parrillada para Dos
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $28.95
          dd
            | Pork chops, pork ribs, 4 oz. grilled Spanish chorizo and grilled chicken breast.

      li.food-menu-list-item
        h3 Favorites
        dl
          dt
            | Tacos
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $3.50
          dd
            | Tacos are topped with rice, pico de gallo, sour cream and cheese.
          dt
            | Quesadillas
            span.food-menu-price $3.50
          dd
            | Quesadillas made with a 6 inches flour or corn tortilla, and served with a side of sour cream, pico de gallo and guacamole.
          dt
            | Tortas
            span.food-menu-price $9.95
          dd
            | include mayonnaise, beans, tomato, lettuce, onion, avocado and served with a side of frenchfries.

      li.food-menu-list-item
        h3 Sides
        dl(aria-labelledby='southside_6')
          dt
            | Rice
            span.food-menu-price $2.95
          dd
          dt
            | Pinto Beans
            span.food-menu-price $2.95
          dd
          dt
            | Mixed Veggies
            span.food-menu-price $4.25
          dd
          dt
            | Sweet Potato Fries
            span.food-menu-price $4.50
          dd
          dt
            | Roasted Potato
            span.food-menu-price $4.50
          dd
          dt
            | French Fries
            span.food-menu-price $3.50
          dd
          dt
            | Guacamole
            span.food-menu-price $5.95
          dd
          dt
            | Pico de Gallo
            span.food-menu-price $2.95
          dd
          dt
            | Sour Cream 1 oz. or any salsa or topping
            span.food-menu-price $.50
          dd

      li.food-menu-list-item
        h3 Desserts
        dl
          dt
            | Flan de Coco
            span.food-menu-price $4.95
          dd Custard type of desert, traditional Mexican flan with coconut, one of our specialties!
          dt
            | Choco-Flan
            span.food-menu-price $5.95
          dd Better known as ‘The Impossible Cake’ this is a Flan on top of a Chocolate cake!
          dt
            | Copa de Gelatina (Jell-O Glass)
            span.food-menu-price $4.50
          dd Squares of Jell-O in a glass, refreshingly delicious
          dt
            | Tequila Cake
            span.food-menu-price $5.95
          dd Your regular tres leches cake infused with Tequila, a favorite of every work meeting :)
          dt
            | Sopapilla
            span.food-menu-price $4.50
          dd Crisp flour tortilla covered with sugar and cinnamon with vanilla, chocolate or strawberry ice cream.
          dt
            | Banana Palapa
            span.food-menu-price $4.95
          dd Fried banana with vanilla, chocolate or strawberry ice cream.
