ul.food-menu
    li.food-menu-list-item.legend
        span.options
          span.special V
          span.means  Vegetarian
          span.special GF
          span.means  Gluten Free
      li.food-menu-list-item
        h3 Favorites
        dl
          dt
            | Tacos
            span.options
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $3.50
          dd
            | Tacos are adorned with rice, pico de gallo, sour cream &amp; cheese.
          dt
            | Quesadillas
            span.food-menu-price $3.50
          dd
            | Quesadillas are 6” flour or corn tortilla with a side of sour cream, pico de gallo &amp; guacamole.
          dt
            | Tortas
            span.food-menu-price $9.95
          dd
            | Tortas have mayo, beans, tomato, leƩ uce, onion, avocado &amp; fries.
      li.food-menu-list-item
        h3#southside_0 Soups
        dl(aria-labelledby='southside_0')
          dt
            | Sopa de Tortilla
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $4.95
          dd
            | Onion and cilantro-based cream soup with poblano pepper strips and corn, traditionally served at celebrations in Puebla, Mexico.
          dt
            | Sopa de Pescado
            span.food-menu-price $5.95
          dd
            | Fish soup with tilapia and potatoes, prepared with onion, garlic and fresh tomatoes - a special dish originating from the coast of Veracruz.
          dt
            | Sopa de Verdura
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $4.95
          dd Our delicious home made vegetable soup.
          dt
            | Frijoles Charros
            span.food-menu-price $5.50
          dd
            | Pinto beans cooked with bacon, sausage, tomato, cilantro and spices &ndash; a favorite of every Mexican family!
      li.food-menu-list-item
        h3#southside_1 Salads
        dl(aria-labelledby='southside_1')
          dt
            | Ensalada Palapa
            span.food-menu-price $9.50
          dd
            | Our own salad creation with cucumber, beets, onion, tomato, carrots, nopales (cactus), boiled egg and queso fresco.
          dt
            | Ensalada de la Huerta
            span.food-menu-price $8.95
          dd
            | Garden salad mixed with fresh lettuce, onion, roasted peppers, tomatoes and carrots &ndash; light &amp; refreshing!
          dt
            | Ensalada de Palmitos
            span.food-menu-price $9.95
          dd
            | Palm hearts, pinto beans, beets, cilantro, onion and tomato, as fresh as sitting underneath a palm three.
          dt
            | Add any of the following to your salad
            span.food-menu-price $3.95
            dd
              ul.horizontal-list
                li Chicken
                li Chorizo
                li Potatoes
                li Barbacoa
                li Chipotle Pork
          dd
      li.food-menu-list-item
        h3#southside_2 Appetizers
        dl(aria-labelledby='southside_2')
          dt
            | Tamal
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $4.95
          dd
            | An ancestral dish of warm corn-based dough wrapped in a cornhusk &amp; steam-cooked. Meat or vegetarian options available; ask about what we are serving today!
          dt
            | Chorizo Salteado
            span.food-menu-price $9.95
          dd
            | Sautéed spanish chorizo served with spinach and onion
          dt
            | Salpic&oacute;n de Camar&oacute;n y Calamar
            span.food-menu-price $10.95
          dd
            | This famous dish from the Pacific coast includes boiled shrimp and squid mixed with fresh onion, cilantro, tomato, roasted peppers and boiled egg.
          dt
            | Chiles Rellenos con Queso y Espinaca
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
            span.food-menu-price $7.50
          dd
            | A flavorful Mexico City classic &ndash; banana peppers stuffed with spinach and cheese and topped with green or red sauce.
          dt
            | Four Cheese Dip &amp; Chips
            span.food-menu-price $4.95
          dd
            | Delicious mix of cheddar jack, mozzarella, cotija and queso fresco served with our homemade tortilla chips.
          dt
            | Chips &amp; Salsa
            span.food-menu-price $3.50
          dd
            | Choose between pico de gallo or green salsa with tortilla chips.       (Both salsas for $5.50)
          dt
            | Chips &amp; Guacamole
            span.food-menu-price $5.95
          dd The best in the &lsquo;burgh!
          dt
            | Nachos with
            span.options
              span Chicken: $8.95
              span Ground Beef: $9.95
              span Chicken and Beef: $11.95
          dd
            | Homemade tortilla chips topped with melted cheese, corn, sour cream, pico de gallo, cheese dip, and your choice of meat.
          dt
            | Empanadas
            span.food-menu-price $4.95
          dd Wheat flour dough filled with chicken, ground beef, shrimp or veggies&mldr; Provecho!
      li.food-menu-list-item
        h3#southside_3 Specialties
        p All entrees served with rice &amp; pinto beans or vegetables.
        dl(aria-labelledby='southside_3')
          dt
            | Tamales
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
              span.special(aria-label='Gluten-free option', title='Gluten-free option') GF
            span.food-menu-price $12.95
          dd
            | two warm corn-based dough tamales wrapped in cornhusks &amp; steam-cooked, topped with green salsa or mole. Meat and vegetarian opƟ ons available; ask about what we are serving today!
          dt
            | Mole con Pollo (Chicken with Mole)
            span.food-menu-price $12.95
          dd
            | Chicken with traditional Mexican mole &mdash; the perfect blend of spices, chile peppers and chocolate! So good!
          dt
            | Lengua en Salsa Verde
            span.food-menu-price $13.95
          dd Locally raised beef tongue slowly cooked in a poblano pepper and tomatillo sauce
          dt
            | Barbacoa
            span.food-menu-price $12.95
          dd
            | Tenderly marinated &amp; slow roasted beef; the best choice for a hangover :0
          dt
            | Flautas de Pollo, Barbacoa o Papa
            span.options
              span.special(aria-label='Vegetarian option', title='Vegetarian option') V
            span.food-menu-price $11.95
          dd
            | Your choice of chicken, barbacoa or potatoes wrapped in a crispy tortilla and topped with lettuce, tomato, queso fresco and sour cream. Dish includes 4 flautas.
          dt
            | Cazuela del Mar
            span.food-menu-price $15.50
          dd
            | This seafood stew features salmon, tilapia and mussels cooked in white wine with tomato, garlic, and cilantro.
          dt
            | Chuletas de Puerco
            span.food-menu-price $12.95
          dd Delicious pork chops prepared with our famous green salsa or garlic sauce.
          dt
            | Chamorro de Borrego en Guajillo
            span.food-menu-price $14.95
          dd
            | Slow roasted lamb shank in a guajillo salsa.
          dt
            | Tilapia a la Veracruzana
            span.food-menu-price $13.95
          dd
            | Slow-cooked tilapia covered with a special sauce of tomato, onion, capers and green olives.
          dt
            | Fajitas Nayarit
            span.options
              span Vegetarian or Chicken: $12.95
              span Steak: $13.95
              span Shrimp: $14.95
          dd Grilled fajitas mixed with peppers, mushrooms and pineapple... Yum!
          dt
            | Enchiladas Verdes o Rojas
            span.food-menu-price $11.95
          dd
            | Three enchiladas with your choice of chicken, beef, mushroom or cheese, wrapped in a corn tortilla and topped with green or red sauce, sour cream and queso fresco.
          dt
            | Enchiladas Norte&ntilde;as
            span.food-menu-price $13.95
          dd
            | Three chicken, mushroom or cheese enchiladas with red sauce and 6 oz. steak on the side&mldr; An appetizing treat!
          dt
            | Burrito Steelers
            span.food-menu-price $12.95
          dd
            | Ground beef and chicken, rice, pinto beans, spinach, pico de gallo, sour cream, cheese and spicy sauce wrapped in a flour tortilla. Every bite packed with flavor!
          dt
            | Charola para Dos!
            span.food-menu-price $28.95
          dd
            | Can&rsquo;t decide what you want? Try our sampler! Includes one tamal, one quesadilla, one flauta, one pork rib, chicken with mole and one empanada. Just the thing to share with a friend!
      li.food-menu-list-item
        h3#southside_4 Churrasco
        p Churrasco a la Mexicana: the meat just falls off of the bone! Served with rice &amp; roasted potatoes, veggies or sweet potato french fries.
        dl(aria-labelledby='southside_4')
          dt
            | Pechuga a la Plancha
            span.food-menu-price $12.95
          dd Grilled chicken breast.
          dt
            | Costilla de Puerco
            span.food-menu-price $12.95
          dd
            | Tender pork ribs seasoned with wine, slow roasted and topped with mole sauce.
          dt
            | Chorizo Espa&ntilde;ol
            span.food-menu-price $10.95
          dd Grilled Spanish Chorizo.
          dt
            | Combo
            span.food-menu-price $15.95
          dd Includes pork ribs and chicken breast
          dt
            | Parrillada para Dos
            span.food-menu-price $27.95
          dd
            | Pork chops, pork ribs, 4 oz. grilled Spanish chorizo and grilled chicken breast.

      li.food-menu-list-item
        h3#southside_6 Sides
        dl(aria-labelledby='southside_6')
          dt
            | Rice
            span.food-menu-price $2.95
          dd
          dt
            | Pinto Beans
            span.food-menu-price $3.95
          dd
          dt
            | Mixed Veggies
            span.food-menu-price $4.25
          dd
          dt
            | Sweet Potato Fries
            span.food-menu-price $4.50
          dd
          dt
            | Roasted Potato
            span.food-menu-price $3.95
          dd
          dt
            | French Fries
            span.food-menu-price $3.50
          dd
          dt
            | Guacamole
            span.food-menu-price $3.95
          dd
          dt
            | Pico de Gallo
            span.food-menu-price $2.95
          dd
          dt
            | Sour Cream 1 oz. or any salsa or topping
            span.food-menu-price $.50
          dd
          dt
            | Quesadilla
            span.food-menu-price $3.50
          dd Cheese or chicken and cheese quesadilla &ndash; Kids love them!
          dt
            | Grilled Cheese
            span.food-menu-price $4.50
          dd Classic mozzarella and provolone.
          dt
            | 8 oz. salsa or side
            span.food-menu-price $3.00